<div id="container">

    <div class="content">

        <owl-carousel [options]="customOptions" (initialized)="onCarouselInitialized($event)">
            <ng-container *ngFor="let slide of slides">
                <div class="item"><img [src]="slide" alt=""></div>
            </ng-container>
        </owl-carousel>

    

        <div class="custom-dots">
            <span
              class="dot"
              *ngFor="let slide of slides; let i = index"
              [class.active]="activeIndex === i"
              (click)="onDotClick(i)"
            ></span>
          </div>

    </div>

    <!-- <div>
            <a (click)="previousImage()"  style="cursor: pointer;" ><i class="fas fa-arrow-circle-left" style="font-size: 36px;" ></i></a>
        <a (click)="nextImage()"  style="cursor: pointer;"><i class="fas fa-arrow-circle-right" style="font-size: 36px;" ></i></a>



        </div> -->


</div>

<!-- <div class="footer">
        <a (click)="previousImage()"  style="cursor: pointer;" ><i class="fas fa-arrow-circle-left" style="font-size: 36px;" ></i></a>
        <a (click)="nextImage()"  style="cursor: pointer;"><i class="fas fa-arrow-circle-right" style="font-size: 36px;" ></i></a>

     </div> -->
<!-- <div>
        <img [src]="images[currentImageIndex]">
    </div> -->
<!-- <div class="footer">


    </div> -->

<!-- <a  style="cursor: pointer;" ><i class="bi bi-arrow-left-square-fill"></i></a>
    <a  style="cursor: pointer;"><i class="bi bi-arrow-right-square-fill"></i></a>  -->









<!-- <button (click)="close()" >Close</button> -->




<!-- <div class="gallery-lightbox-container">
    <div class="gallery">
        <div *ngFor="let data of galleryData; let i =index" class="gallery-image">
            <img [src]="data.imageSrc" >

        </div>
    </div>
</div> -->

<!-- <div>      
    <a (click)="previousImage()"  style="cursor: pointer;" ><i class="fas fa-arrow-circle-left" style="font-size: 36px;" ></i></a>
</div>
<div>
    <a (click)="nextImage()"  style="cursor: pointer;"><i class="fas fa-arrow-circle-right" style="font-size: 36px;" ></i></a>
</div> -->